body,
html,
.file-container {/**/
  height: 100%;
  margin: 0;
  font-family: kanit;
  font-size: 16px;
  letter-spacing: 0.05rem;
}

.file-container li:hover {/**/
  background: #ffffff;
}

.file-container {/**/
  border-top: 0px;
  height: 400px;
  padding: 25px;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}

.navigation-elm {/**/
  padding-left: 20px;
  box-sizing: border-box;
  color: #000; /*element text color*/
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  cursor: pointer;
  font-weight: 200;
  letter-spacing: 0.05rem;
  transition: background .1s ease-out;
}

.sub-navigation-elm {/**/
  padding-left: 80px;
  box-sizing: border-box;
  background: rgba(100, 100, 130, 0.1);
  color: #ccc;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  cursor: pointer;
  font-weight: 200;
  letter-spacing: 0.05rem;
  font-size: .9rem;
  transition: background .1s ease-out;
}

.sub-navigation-elm:hover {/**/
  background: rgba(100, 100, 130, 0.3);
}

.navigation-elm:hover {/**/
  background:  rgba(0, 100, 130, 0.2);
  transition: all .1s ease-out;
}

.navigation-elm:hover .nav-text {/**/
  transform: scale(1.1);
  transition: transform .1s ease-out;
}

.nav-text {/**/
  transition: transform .1s ease-out;
}

.fa-fw {/**/
  margin-right: 15px;
}

.sidebar {/**/
  padding-top:0%;
  height: 100%;
  left: 0;
  width: 300px;
  display: flex;
  color: #fff;
  flex-flow: column;
  position: fixed;
  background: #eee; /*sidebar color change*/
  z-index: 1;
}

.file-container {/**/
  overflow-X: hidden;
  float: left;
  padding-left: 300px;
  box-sizing: border-box;
  width: 100%;
  z-index: 0;
  position: relative;
}


@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  .position-marker {
    left: 20%;
  }
  .position-marker.no2 {
    left: 45%;
  }
  .position-marker.no3 {
    left: 25%;
  }
  .position-marker.no4 {
    left: 42%;
  }
  .position-marker.no5 {
    left: 70%;
  }
  .position-marker.no6 {
    left: 32%;
  }
  .madeby {
    top: 75px;
  }
  .navigation-elm:nth-child(1) {/**/
    background: #333339;
  }
  .sidebar {/**/
    width: 100%;
    flex-flow: row;
    height: 60px;
    font-size: .9rem;
    padding-top: 0px;
    position: relative;
    top: -60px;
  }
  .sub-navigation-elm {/**/
    display: none;
  }
  .update-number {
    display: none;
  }
  .file-container {/**/
    padding-top: 60px;
    padding-left: 0px;
  }
}

@media only screen and (max-width:920px) {
  .text-long {/**/
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .text-short {/**/
    display: none;
    font-size: 16px;
    font-weight: bold;
  }
  .navigation-elm {/**/
    font-size: 4.5vw;
    justify-content: center;
    text-align: center;
  }
}