.todo-task-input {
    font-weight: bold;
    width: 500px;
    height: 60px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #34495e;
    margin-top: -10px;
    font-size: 20px;

    text-align: center;
    vertical-align: center;
}

.todo-task-text {
    font-weight: bold;
    width: 500px;
    height: 60px;    
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #34495e;
    margin-top: -10px;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.rightBox {
    width: 180px;
}

.progressBtn{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.progress-percent-input {
    font-weight: bold;
    text-align: right;
    width: 50px;
    height: 35px;
    padding: 6px 7px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #34495e;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;

    text-align: center;
    vertical-align: center;
}

.progress-percent-text {
    font-weight: bold;
    text-align: right;
    width: 50px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #34495e;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}


.forArrow {
    margin-left: -5px;
}

.btns{
    width: 30px;
}


.todo {
    width: fit-content;
    margin-left : auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-right: 100px;
}

.timePickerStyle {
    font-size: 100px;

    text-align: center;
    vertical-align: center;
}