@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
  @import url('https://fonts.googleapis.com/css?family=Playball');
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
  

  
   .evnt-dsbrd-card,
   .aply-nw,
   .evnt-dsbrd-card .article-thumb-details ul li:hover a,
   .rqr-evnt-prfl-cont
  {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

/* [ 2nd card ] */
  .evnt-dsbrd-card {
    /* width: 100%; */
    max-width: 360px;
    height: auto;
    padding: 20px 20px 72px;
    background-color: #394264;
    position: relative;
    /*border: 1px solid #e6e6e6;*/
    border-radius: 4px;
    margin: 0 0 0;
    display:table;
  }

  .evnt-dsbrd-card .article-thumb-img {
    width: 100%;
    height: 215px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left : 60px;
  }
  .evnt-dsbrd-card .article-thumb-heading {
    color: #fff;
    line-height: 26px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    font-weight: 400;
    max-height: 55px;
    height: 55px;
    text-align: center;
  }
  .evnt-dsbrd-objctv-dscp {float: left; width: 100%; margin-bottom: 10px;}
  .objctv-dscp-heading {
    display: block;
    width: 90px;
    float: left;
    margin-right: 10px;
    font-size: 16px;
    color: #fcb150;
    letter-spacing: 0.25px;
    position: relative;
    line-height: 14px;
    margin-top: 3px;
  }
  .objctv-dscp-data {float: left; width: 218px; display: block;}
  .objctv-dscp-data ul li {
      display: inline-block;
      margin: 0 20px 0 0;
      position: relative;
      font-size: 12px;
      line-height: 12px;
      color: #6b6b6b;
  }
  .objctv-dscp-data ul li:first-child {padding-left: 0; }
  .objctv-dscp-heading:before, .evnt-dsbrd-objctv-dscp ul li:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #6b6b6b;
  }
  .objctv-dscp-data ul li:before {right: -13px; transform: rotate(15deg);}
  .evnt-dsbrd-objctv-dscp {float: left; width: 100%; margin-bottom: 10px;}
  .objctv-dscp-heading {
    display: block;
    width: 90px;
    float: left;
    margin-right: 10px;
    color: #fcb150;
    letter-spacing: 0.25px;
    letter-spacing: 0.25px;
    position: relative;
    line-height: 14px;
    margin-top: 3px;
  }
  .objctv-dscp-data {float: left; width: 218px; display: block;}
  .objctv-dscp-data p { line-height: 18px; margin-top: 2px; color:#fff;}
  .objctv-dscp-data p a {color: #000; font-style: italic; text-decoration: underline;}
  .evnt-dsbrd-card .article-thumb-details {
    width: 100%;
    float: left;
    position: inherit;
    margin-top: 15px;
  }
  .evnt-dsbrd-card .article-thumb-details ul li {
    width: auto;
    position: relative;
    float: left;
  }
  .evnt-dsbrd-card .article-thumb-details ul li a {
    display: block;
    padding: 0 13.7px;
    font-size: 12px;
    line-height: 12px;
    border-right: 1px solid #e6e6e6;
    color: #6b6b6b;
    text-align: center;
  }
  .rqr-evnt-prfl-cont {
    display: none;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    width: 245px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #fcb150;
    border-radius: 3px;
    padding: 13px 15px 15px 15px;
    z-index: 1;
    transition: all 0.3s ease-in-out 0s;
  }
  .rqr-evnt-prfl-cont:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-bottom: 1px solid #fcb150;
    border-right: 1px solid #fcb150;
    bottom: -9px;
    left: 48%;
    transform: rotate(45deg);
  }
  .rqr-evnt-prfl-cont h5 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #b2b2b2;
  }
  .evnt-dsbrd-card .article-thumb-details .rqr-evnt-prfl-cont ul {width: 100%; float: left;}
  .evnt-dsbrd-card .article-thumb-details .rqr-evnt-prfl-cont ul li {
    display: block;
    width: 100%;
    font-size: 13px;
    color: #6b6b6b;
    margin: 0 0 5px 0;
    vertical-align: middle;
  }
  .rqr-evnt-icons {
    width: 25px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    background-image: url(http://demosoft.indicsoft.com/SalmanDemo/onspon-html/other-pages/image/xplore-icons.png);
  }
  .rqr-evnt-icons.family {background-position: -1px 0;}
  .rqr-evnt-icons.education {background-position: -25px -2px;}
  .rqr-evnt-icons.gender {background-position: -51px 0;}
  .rqr-evnt-icons.money {background-position: -76px 0;}
  .rqr-evnt-icons.map {background-position: -100px 0;}
  .rqr-evnt-icons.calendar {background-position: -122px 0;}
  .aply-nw {
    position: absolute;
    width: 160px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    border: 1px solid #e8e8e8;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .evnt-dsbrd-card .article-thumb-details ul li .rqr-evnt-views-cont {display: none;}
  .evnt-dsbrd-card .article-thumb-details ul li:last-child a {border-right: 0;}

   .rqr-evnt-views-cont {
       display: block;
       position: absolute;
       bottom: 25px;
       left: 50%;
       transform: translate(-50%);
       padding: 2px 8px;
       background-color: #fcb150;
       color: #fff;
       letter-spacing: 1px;
      border-radius:3px
   }
   .rqr-evnt-views-cont:before {
       position: absolute;
       content: '';
       border-right: 5px solid transparent;
       border-left: 5px solid transparent;
       border-top: 6px solid #fcb150;
       left: 50%;
       transform: translateX(-50%);
       bottom: -6px;
   }

  /* [ ::hover ] */
  .objctv-dscp-data p a:hover {color: #fcb150;}
  .evnt-dsbrd-card .article-thumb-details ul li:hover .rqr-evnt-prfl-cont {display: block;}
  .aply-nw:hover {background-color: #fcb150; border-color: #fcb150; color: #fff; text-decoration: none;}
  .evnt-dsbrd-card .article-thumb-details ul li:hover .rqr-evnt-views-cont {display: block;}
.evnt-dsbrd-card:hover {box-shadow: 0 0 15px rgba(0,0,0,0.2);}
.evnt-dsbrd-card .article-thumb-details ul li:hover a {color:#e95028;}
  /* [ // ::hover ] */
  /* [ // 2nd card ] */